body {
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to right,  rgb(61, 103, 216), rgb(8, 33, 102)) ;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    position: absolute;
    right: 28%;
    top: 16px;
    font-size: 2rem;
    color: white;
    margin: 0;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

label {
    font-size: 2rem;
    font-weight: bolder;
}

img {
    vertical-align: top;
}

.card {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
}

.card-body {
    padding: 0;
    margin: 1rem 1rem;
}

.btn {
    width: 100%;
    margin-top: 14px;
}

.btn-history {
    color: black;
    background-color: rgb(192, 192, 192);
    border-color: rgb(192, 192, 192);
}
.btn-history:hover {
    background-color: rgb(156, 156, 156);
    border-color: rgb(156, 156, 156);
}

.forecast-flexbox {
    display: flex;
    justify-content: space-between;
}

.forecast-day {
    background-color: rgb(21, 37, 66);
    color: white;
    font-size: 16px;
    width: 12rem;
    padding: 5px;
}

#search-div {
    margin: 0;
    width: 14rem;
}

#history-card {
    border-top: 1px solid rgb(39, 39, 39);
    margin-top: 0;
}

#weather-results {
    flex: 11;
}

#weather-div {
    display: none;
    width: 85%;
    padding: 10px;
    border: 2px solid black;
}

#forecast-div {
    display: none;
    width: 85%;
}

#city-name {
    display: inline-block;
    width: fit-content;
}